h1
    +fonts-headline
    font-size: 45px
    line-height: 60px
    
h2   
    +fonts-headline
    font-size: 24px
   
h3   
    +fonts-headline
    font-size: 20px
      
h4  
    +fonts-headline
    font-size: 18px
    
h5  
    +fonts-headline
    font-size: 16px
                 
h6  
    +fonts-headline
    font-size: 15px
            