.section
    &__content
        background-color: #ffffff
    
.content
    &-wrap
        +flex-wrap-top
        flex-wrap: wrap
        background: url("../img/content/screwy_robot.png") no-repeat right bottom
        background-size: 22.9%
        padding: 50px 0
    &-column    
        padding-bottom: 15px
        max-width: 295px
        width: 100%
        &:last-child
            margin: 0  
        &__title
            margin: 0
            margin-bottom: 24px
            color: #000000
            +fonts-headline
            font-size: 24px
        &__text
            color: #454545
        &__section
            padding-bottom: 21px
            &_title 
                margin: 0 
            &_herf
                color: $link
                font-size: 18px
.content-column__section_href-blog 
    display: block
    color: $link
    text-decoration: none
    font-weight: bold

@media (max-width: 769px)
    .content
        &-column
            max-width: calc(50% - 30px)    
@media (max-width: 426px)
    .content
        &-column
            max-width: 100%           